.Xauthority
.abook/
.cache/
.config/GIMP/
.config/dconf/
.config/gnome-games/
.config/htop/
.config/libreoffice/
.config/mutt/cache/
.config/mutt/tmp/
.config/neofetch/
.config/pavucontrol.ini
.config/pulse/
.dbus/
.gnupg/private-keys-v1.d/
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/trustdb.gpg
.mail/
.mozilla/
.nv/
.password-store/
.ssh/
.vim/.netrwhist
.vim/autoload/
.vim/plugged/
documents/
downloads/
todo.txt
